* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700&display=swap");
body {
  font-family: "Poppins", sans-serif;
  height: 900px;
}

/* top nav */

.top-nav {
  background-color: #001f49;
  display: flex;
  justify-content: space-between;
  padding: 5px 200px;
  color: white;
  position: relative;
}

.top-nav .contact {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.top-nav .contact p {
  margin-right: 20px;
  align-items: center;
}

.top-nav .contact i {
  margin-right: 10px;
  color: #fa9a09;
}

.top-nav button {
  width: 80px;
  height: 28px;
  background-color: #fac709;
  border: none;
  font-weight: 700;
  right: 200px;
  top: 0;
  position: absolute;
  cursor: pointer;
}

/* navbar */

nav {
  position: fixed;
  display: flex;
  padding: 10px 200px;
  justify-content: space-between;
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0;
  z-index: 100;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  margin-left: 25px;
  font-weight: 500;
  font-size: 15px;
  color: #001f49;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #fa9a09;
}

/* hero--------------- */

.hero {
  background-color: red;
  height: 450px;
  overflow: hidden;
  position: relative;
}

.hero img {
  width: 100%;
  height: 900px;
  position: absolute;
  top: -300px;
  filter: brightness(52%);
  -webkit-filter: brightness(52%);
  -moz-filter: brightness(52%);
  z-index: 1;
}

.hero .text-hero {
  /* backdrop-filter: blur(5px);
    padding: 30px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px; */
  position: absolute;
  z-index: 2;
  color: white;
  width: 450px;
  left: 200px;
  top: 50px;
}

.hero .text-hero h2 {
  font-size: 30px;
}

.hero .text-hero p {
  text-align: justify;
  margin: 10px 0;
  line-height: 20px;
  font-size: 12px;
  font-weight: 100;
}

.hero .text-hero button {
  width: 100px;
  height: 35px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background-color: #fac709;
  margin-top: 20px;
  font-weight: 700;
  transition: 0.3s;
}

.hero .text-hero button:hover {
  background-color: #fa9a09;
  color: white;
}

/* about..... */

.about {
  display: flex;
  position: absolute;
  padding: 0px 20px;
  z-index: 5;
  height: 120px;
  margin: 0 200px;
  bottom: 25px;
  background-color: #f7f7f7;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.about .card-about h1 {
  font-size: 15px;
}

.about .card-about {
  width: 50%;
  font-size: 11px;
  display: flex;
  align-items: center;
}

.about .card-about i {
  font-size: 22px;
  margin: 10px;
  color: #fac709;
  align-items: center;
}

.about .card-about p {
  color: #939292;
}

.main .mage {
  position: absolute;
  top: 30px;
  right: 120px;
  z-index: 2;
  filter: drop-shadow(10px 12px 3px #000);
}

.main {
  height: 510px;
  position: relative;
}

/* why */

.why {
  padding: 0 100px;
}

.cards {
  display: flex;
}

.why h1 {
  text-align: center;
  margin-top: 60px;
  font-size: 25px;
}

.why-card {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  height: 170px;
  padding: 25px;
  margin-top: 80px;
  background-color: #001e49f7;
  color: white;
  border-radius: 20px 0px 20px;
  position: relative;
  transition: 0.3s;
}

.why-card:hover {
  margin-top: 70px;
}

.why-card h1 {
  font-size: 15px;
  margin-top: 0;
  color: #fac709;
  margin-bottom: 10px;
}

.why-card p {
  font-size: 12px;
  text-align: justify;
}

.why-card .num {
  width: 50px;
  height: 50px;
  background-color: #fac709;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -15px;
  top: -15px;
  color: #001f49;
  font-weight: bold;
  box-shadow: 1px 0px 5px inset rgba(0, 0, 0, 0.5);
}

/* alumni------------------------- */

.alumni {
  background-image: url("https://images.unsplash.com/photo-1635837727790-8783322a45d6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  height: 400px;
  margin-top: 100px;
  margin-bottom: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -250px;
  background-color: red;
  background-attachment: fixed;
}

.alumni .quote {
  width: 80px;
  height: 80px;
  position: absolute;
  border-radius: 50%;
  background-color: #fac709;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: white;
  top: -30px;
  left: -30px;
}

.alumni .container {
  background-color: #001e49d2;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alumni .container .testi {
  position: relative;
  display: flex;
  align-items: center;
  /* background-color: #001f49; */
  backdrop-filter: blur(12px);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  box-shadow: 5px 1px 10px #00122b;
  width: 900px;
  height: 320px;
}

.testi .arrow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fac709;
  position: absolute;
  right: -20px;
  top: 40%;
  font-size: 40px;
  border: 2px solid white;
  color: white;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: 0.2s;
}

.testi .card-shadow {
  width: 50px;
  height: 270px;
  position: absolute;
  right: 0;
  opacity: 0.9;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 55%, rgba(0, 31, 73, 1) 96%);
}

.testi .arrow:hover {
  transform: scale(1.1);
}

.testi .col-1 {
  width: 300px;
  color: white;
  font-size: 10px;
  margin-left: 50px;
  margin-right: 50px;
}

.testi .col-1 .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f7f7f7;
  display: inline-block;
  margin-top: 20px;
  margin-right: 5px;
}

.testi .col-1 .dot:nth-of-type(3) {
  background-color: #f7f7f733;
}

.testi .col-1 .dot:nth-of-type(2) {
  background-color: #f7f7f733;
}

.testi .col-2 {
  display: flex;
  gap: 15px;
}

.testi .col-2 .alumni-card {
  width: 180px;
  height: 270px;
  background-color: white;
  font-size: 10px;
  overflow: hidden;
  box-shadow: -10px -12px 0px 1px #00122ba8;
  transition: 0.5s;
}

.testi .col-2 .alumni-card .say {
  padding: 10px;
  overflow: hidden;
  text-align: center;
}

.testi .col-2 .alumni-card h1 {
  font-size: 12px;
  margin-top: 10px;
  color: #00122b;
}

.testi .col-2 .alumni-card img {
  width: 100%;
  border-radius: 0 0px 30px 30px;
  border-bottom: 3px solid #fa9a097b;
  transition: 0.3s;
}

.testi .col-2 .alumni-card:hover img {
  transform: scale(1.1);
}

.testi .col-2 .alumni-card:hover {
  box-shadow: -10px -12px 0px 1px #fa9a09;
}

/* Contacts */

.contact-call {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-call p {
  padding: 0 400px;
  text-align: center;
  margin-top: 10px;
  color: #acacac;
  font-size: 12px;
}

.contact-call h1 {
  font-size: 25px;
  text-align: center;
}

.contact-call form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 600px;
}

.contact-call input,
textarea {
  background-color: #fafafa;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 15px;
}

.contact-call input {
  height: 30px;
}

.contact-call label {
  font-weight: bold;
  margin-top: 20px;
}

.contact-call button {
  width: 100px;
  height: 40px;
  margin-top: 10px;
  cursor: pointer;
  background-color: #001f49;
  border: none;
  color: white;
  border-radius: 10px;
  font-weight: bold;
}

/* totals----------------------------------- */

.totals {
  margin-top: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  padding: 0 200px;
  background-color: #f7f7f7;
}

.totals-item {
  text-align: center;
  color: #acacac;
}

/* FOOTER---------------------------------- */

.footer {
  display: flex;
  background-color: #00122b;
  color: white;
  padding: 10px 200px;
  font-size: 12px;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.footer iframe {
  width: 300px;
  height: 90%;
  position: absolute;
  right: 200px;
  opacity: 0.3;
}

.footer ul li {
  list-style: none;
}

.footer ul li a {
  text-decoration: none;
  color: white;
}

.footer h1 {
  font-size: 15px;
  margin-bottom: 10px;
}

.footer h4 {
  font-size: 12px;
  margin-top: 20px;
  color: #fa9a09;
}

/* sticky message */

.sticky-message {
  background-color: #fa9a09;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 10px;
  right: 15px;
  border-radius: 50%;
  cursor: pointer;
  /*  */
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  color: #001f49;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---- */
