/* all */

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px solid red; */
}


/* navbar--------------------------- */

nav {
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    padding: 5px 20px;
    position: sticky;
    top: 0;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.07);
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin-left: 50px;
}

nav ul li a {
    text-decoration: none;
    margin-left: 50px;
    font-weight: 500;
    color: black;
    font-size: 15px;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #1890ff;
}

.left-nav {
    display: flex;
}

nav button {
    width: 70px;
    height: 30px;
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s;
    border-radius: 5px;
}

nav button:first-of-type:hover {
    border: 1px solid #1890ff;
    color: #1890ff;
}

nav button:last-of-type {
    background-color: #1890ff;
    color: white;
}


/* hero------------------------------------ */

.hero {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero h1 {
    font-size: 25px;
    text-align: center;
}

.hero p {
    margin: 15px;
    font-size: 15px;
    color: #acacac;
}

.hero input {
    margin-top: 10px;
    width: 60%;
    height: 35px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.07);
}


/* pricing--------------------------------- */

.pricing {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pricing h1 {
    font-size: 20px;
}

.cards {
    display: flex;
    margin-top: 30px;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.pricing-card {
    width: 280px;
    height: 200px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.07);
    border-top: 5px solid #1890ff;
    padding: 0px 20px;
}

.pricing-card h3 {
    margin-top: 30px;
    font-size: 15px;
    font-weight: bold;
}

.pricing-card p {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 45px;
    color: #939393;
}

.pricing-card button {
    width: 120px;
    height: 30px;
    background-color: #1890ff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}


/* Develop---------------------------- */

.develop {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.develop h1 {
    font-size: 20px;
    /* margin-bottom: 20px; */
}

.dev-card img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-right: 20px;
}

.cards-dev {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.dev-card {
    display: flex;
    background-color: #f6f6f6;
    margin: 10px;
    padding: 40px 20px;
    align-items: center;
    width: 80%;
}

.dev-card h1 {
    font-size: 15px;
    font-weight: bold;
}

.dev-card span {
    font-size: 12px;
    color: #acacac;
}

.dev-card p {
    margin-top: 20px;
    font-size: 12px;
}


/* footer-------------------------------- */

.footer {
    display: flex;
    background-color: #524d4d;
    margin-top: 50px;
    justify-content: space-around;
    color: white;
    padding: 20px 100px;
    flex-wrap: wrap;
}

.fot-item h3 {
    font-size: 15px;
    margin-bottom: 10px;
}

.fot-item ul li {
    list-style: none;
}

.fot-item ul li a {
    text-decoration: none;
    color: #acacac;
    font-size: 12px;
}