* {
  margin: 0;
  padding: 0;
}

.main {
  background-color: #f7b716;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.btn-login {
  width: 100px;
  height: 35px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background-color: #eb4660;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
  color: white;
}

.modal {
  position: absolute;
  display: none;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100vh;
}

.modal.active {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  animation: zoom-in 0.3s;
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 30px;
  gap: 2px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px 10px rgba(0, 0, 0, 0.2);
}

form .avatar h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 26px;
}

form input {
  border-radius: 10px;
  height: 10px;
  border: none;
  margin-bottom: 5px;
  width: 280px;
  padding: 10px;
  background-color: #acacac6b;
}

form button:first-of-type {
  margin-top: 30px;
  background-color: #ff2c55;
}

form button:last-of-type {
  background-color: #087fbaad;
}

form button {
  padding: 8px;
  margin: 2px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  color: white;
}

@keyframes zoom-in {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
