* {
    margin: 0px;
    padding: 0px;
}

body {
    padding: 1rem;
}

.card {
    background-color: #f7f7f7;
    color: black;
    height: 4rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    height: 380px;
    overflow: hidden;
    border-radius: 5px;
}

.card img {
    width: 100%;
    height: 250px;
}

.card .text {
    margin: 20px;
}

.card .text h1 {
    font-size: 20px;
}

.card .text P {
    font-size: 12px;
    color: #acacac;
}

.cards {
    max-width: 1300px;
    margin: 0 auto;
    display: grid;
    gap: 1.5rem;
}


/* Responsive Mode--------------------------------------------- */

@media screen and (min-width: 1200px) {
    /* Ukuran layar di atas 1200px */
    .cards {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 1100px) {
    /* Ukuran layar maksimal 1100px */
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 800px) {
    /* Ukuran layar maksimal 800px */
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 478px) {
    /* Ukuran layar maksimal 478px */
    .cards {
        grid-template-columns: repeat(1, 1fr);
    }
}