/* all */

* {
    margin: 0;
    padding: 0;
}

body {
    /* overflow-x: hidden; */
}


/* navbar-------------------------------- */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}

nav .logo img {
    width: 40px;
}

nav .logo h1 {
    display: none;
}

nav .nav-item ul {
    display: flex;
    gap: 12px;
}

nav .nav-item ul li {
    list-style: none;
}

nav .nav-item ul li a {
    text-decoration: none;
    color: #8e8e8e;
    transition: 0.5s;
}

nav .nav-item ul li a:hover {
    color: #028f44;
    border-bottom: 1px solid #028f44;
}


/* hero-------------------------- */

.hero {
    height: max-content;
    overflow: hidden;
    position: relative;
}

.hero img {
    width: 100%;
}

.hero .shadow {
    background-color: rgba(0, 0, 0, 0.5);
    height: 500px;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero .shadow h1,
h2 {
    text-align: center;
}

.hero .shadow input {
    margin-top: 20px;
    width: 80%;
    height: 20px;
    padding: 10px;
    border-radius: 30px;
    border: none;
}


/* main----------------------------------- */

.main {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}


/* info----------------------------------- */

.main .info .content p {
    text-align: justify;
    margin-top: 15px;
    line-height: 25px;
    color: #686868;
    text-indent: 30px;
}

.main .info .content h1 {
    font-size: 25px;
}

.main .info .content h1 span {
    font-weight: bold;
    color: #028f44;
    font-size: 20px;
}

.main .info .content button {
    width: 150px;
    height: 30px;
    background-color: #028f44;
    border: none;
    border-radius: 25px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 20px;
    cursor: pointer;
}

.main .info img {
    width: 100%;
    height: 200px;
    margin-top: 20px;
}


/* porto------------------------------ */

.porto {
    margin-top: 50px;
}

.porto h1:first-of-type {
    font-size: 25px;
    margin-bottom: 10px;
}

.porto h1:last-of-type {
    margin-top: 50px;
    color: #028f44;
    font-size: 20px;
}

.porto p {
    color: #686868;
    line-height: 25px;
    text-align: justify;
}

.porto p:last-of-type {
    font-size: 12px;
    margin-top: 10px;
}

.galeri {
    margin-top: 50px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.g-item img {
    width: 150px;
}

.g-item h3 {
    font-size: 10px;
    text-align: center;
}


/* footer------------------------ */

.footer {
    margin-top: 100px;
    padding: 50px 20px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.foot-title {
    width: 500px;
    font-size: 15px;
    color: #686868;
}

.foot-title p {
    margin: 10px 0px;
    line-height: 25px;
}

.foot-title ul {
    margin-top: 10px;
}

.foot-title ul li {
    list-style: none;
}

.foot-title ul li a {
    text-decoration: none;
    color: #686868;
}

.maps iframe {
    width: 115%;
    height: 300px;
}

.foot-fluid {
    padding: 20px;
    background-color: #acacac4b;
}

.foot-fluid h4 {
    text-align: center;
    color: #686868;
}


/* HALAMAN CONTACT US==================== */

.contact-us {
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto;
    padding: 0px 200px;
    gap: 20px;
}

.contact-grid {
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 20px;
}

.contact-grid .item-1 {
    text-align: left;
}

.item-1 h5 {
    color: #028f44;
    margin-bottom: 5px;
}

.item-1 h1 {
    font-size: 20px;
}

.item-1 p {
    font-size: 12px;
    color: #686868;
    line-height: 20px;
}


/* contact list=== */

.contact-list {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact-list .wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contact-list .contact-text h3 {
    font-size: 15px;
}

.contact-list .icon {
    margin: 5px;
    width: 40px;
    height: 40px;
    background-color: #028f44;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


/* form.......................... */

.item-2 form {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #acacac1a;
    padding: 30px;
    border-radius: 10px;
    gap: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.item-2 input {
    height: 25px;
    border-radius: 5px;
    border: 1px solid #acacac74;
    padding: 5px 10px;
}

.item-2 textarea {
    border-radius: 5px;
    padding: 0px 10px;
    border: none;
    border: 1px solid #acacac74;
}

.item-2 button {
    height: 35px;
    border-radius: 5px;
    border: none;
    /* background-color: #0050f0; */
    background-color: #028f44;
    color: white;
    cursor: pointer;
}


/* .item-2 */


/* Desktop Mode------------- */

@media screen and (min-width: 900px) {
    body .container {
        margin: auto;
        width: 1300px;
    }
    /* navbar--------------- */
    nav {
        padding: 20px 200px;
    }
    nav .nav-item ul {
        gap: 40px;
    }
    nav .logo {
        display: flex;
        align-items: center;
        gap: 15px;
    }
    nav .logo h1 {
        display: block;
    }
    /* hero-------------- */
    .hero img {
        margin-top: -550px;
    }
    .hero {
        height: 500px;
    }
    .hero .shadow input {
        width: 750px;
        height: 25px;
        border-radius: 35px;
        border: none;
        padding: 20px;
        font-size: 20px;
        background-color: rgba(255, 255, 255, 0.637);
    }
    /* main----------------------------------- */
    .main .info {
        display: flex;
        padding: 0 200px;
        gap: 50px;
        justify-content: space-between;
        align-items: center;
        justify-content: center;
    }
    .main .info img {
        height: 300px;
        width: 400px;
    }
    /* porto------------------- */
    .porto {
        margin-top: 100px;
        padding: 0 200px;
    }
    .porto h1 {
        font-size: 25px;
    }
    .g-item img {
        width: 250px;
    }
    /* footer--------------------- */
    .footer {
        padding: 50px 200px;
        flex-wrap: nowrap;
    }
    .maps iframe {
        width: 500px;
        height: 300px;
    }
}